body{
background-image:url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366__340.jpg');
}
body{
color: white;
margin-center:220px;
}

.profileimg{
  max-width: 80px;
  height: 80px;
  border-radius: 25px;
  
}
