body{
background-image:url('https://i.pinimg.com/originals/cf/a5/0b/cfa50b2b3c6e0c108e8880d7b320bf85.jpg');
background-repeat:no-repeat;
background-size:1500px 1000px;
}
body{
color: black ;
margin-center:220px;
font-size:20px;

}

.profileimg{
  max-width: 100px;
  height: 100px;
  border-radius:50px;
  
}
.head2{
	font-size:20px;
}
.head{
	font-size:20px;
	}